body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  background-color: #1c4c9035;
}


.container {
  background-color: #0f336686;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}


h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}


span {
  color: #555;
  font-size: 1em;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1em;
  box-sizing: border-box;
}


input[type="text"]:focus {
  border-color: #4285f4;
  outline: none;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.3);
}


.error-message {
  font-weight: bold;
  color: #d93025;
  font-size: 0.9em;
}

.success-message {
  font-weight: bold;
  color: #34a853;
  font-size: 0.9em;
}
